<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <title>Weekly Report Maker</title>
</head>
<body>
  <main>
    <div class="container">
      <div class="row">
        <div class="col s12">
        <h1>Weekly Report Maker</h1>
        <div class="row">
          <form class="col s12" action="create" method="POST">
            <h4>User</h4>
            <div class="row">
              <div class="input-field col s6">
                <input name="name" type="text" class="validate" />
                <label class="active" for="name">Name</label>
              </div>
            </div>

            <h4>Thanks Card</h4>
            <div class="row">
              <div class="input-field col s2">
                <input name="card_give" type="number" class="validate" />
                <label class="active" for="card_give">Give</label>
              </div>
              <div class="input-field col s2">
                <input name="card_get" type="number" class="validate" />
                <label class="active" for="card_get">Get</label>
              </div>
            </div>

            <h4>Magazine</h4>
            <div class="row">
              <div class="input-field col s2">
                <input id="magazine_get" name="magazine_get" type="number" class="validate" />
                <label class="active" for="magazine_get">Get</label>
              </div>
              <div class="input-field col s2">
                <input name="magazine_pass" type="number" class="validate" />
                <label class="active" for="magazine_pass">Pass</label>
              </div>
              <div class="input-field col s2">
                <input name="magazine_have" type="number" class="validate" />
                <label class="active" for="magazine_have">Have</label>
              </div>
            </div>

            <h4>Regular task</h4>
            <p class="caption">
              If you have more regular tasks, you add URL paramaters to "?tasks=Num". Num is the your tasks.
            </p>
            <% @tasks.to_i.times do |index| %>
              <div class="row">
                <div class="input-field col s2">
                  <input name="task_name[]" type="text" />
                  <label class="active">Task Item</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s4">
                  <input name="task_detail[]" type="text" />
                  <label class="active">Detail</label>
                </div>
              </div>
            <% end %>

            <h4>Boyaki</h4>
            <div class="row">
              <div class="input-field col s6">
                <textarea id="boyaki" name="boyaki" class="materialize-textarea"></textarea>
                <label class="active">Write your last week's episode.</label>
              </div>
            </div>

            <button class="btn waves-effect waves-light" type="submit">Create Tex file!</button>
          </form>
        </div>
      </div>
    </div>
  </main>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</body>
</html>
